/* Variables */

$font-header:'Signika', sans-serif;
$font-text:'Inconsolata', monospace;

/* Global */

body {
    margin: 20px;
}

p {
	font-family: $font-text;
}

h1, h3 {
	font-family: $font-header;
}